TELEGRAM_BOT_TOKEN=your_telegram_bot_token
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=chatfight
LOGGER_GROUP_ID=your_logger_group_id
PUBLIC_GROUP_LINK=https://t.me/your_public_group
OWNER_ID=your_telegram_user_id
